* {
    font-family:'Courier New', Courier, monospace;
}

/* div {
    height: 200px;
    width: 500px;
    background-color: pink;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    border-left: 5px dashed blue;
    border-right: 5px solid red;
    border-top: 5px dotted rgb(255, 183, 0);
    border-bottom: 5px solid aqua;
    font-weight: 600;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 20px;
    padding: 20px;
} */

.traffic-light {
    height: 200px;
    width: 70px;
    border: 2px solid black;
    margin: 30px;
}

.circle {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 10px;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}