body {
    background-image: url("https://images.unsplash.com/photo-1715783735932-2aaa7bcfab34?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    color: red;
    background-repeat: no-repeat;
}

/* .box {
    height: 300px;
    width: 300px;
    background-color: rgb(24, 224, 24);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition-duration: 2s; Trasition duration: time taken to perform transition */
    /* transition-delay: 1s;
    
} */

/* .box:hover {
    background-color: green;
    border-radius: 50%;
} */

.box {
    height: 300px;
    width: 300px;
    background-color: rgb(246, 119, 140);
    margin: 0 auto;
    padding: 20px;
    transition: 2s ease-in-out 1s;
    font-style: italic;
    box-shadow: 1px 2px 10px green; /*x-offset y-offset blur-radius color*/
}

.box:hover {
    margin-top: 300px;
    background-color: red;
    transform: scale(1.5); /* scale from height and width both */
    transform: rotate(45deg);
    transform: scale(1.5, 2); /*1.5 width and 2 height*/
    transform: scaleX(2); /*scale in x direction (width) only*/
    transform: translate(200px, 300px); /*move 200px in x-direction and 300px from y-direction*/
    transform: translateX(200px);
    transform: translateY(-200px);
    transform: skew(28deg);
    transform: rotate(90deg) translate(200px, 200px) scale(.5) skew(-20deg);

}